 # Настройки сайта (ENVIRONMENT: development-разработка, testing-тесты, staging-предпродакшин, production-продакшин)
APP_CONFIG__SITE__ENVIRONMENT=development
APP_CONFIG__SITE__SITE_NAME=MySite
APP_CONFIG__SITE__DOMAIN=localhost:8000
APP_CONFIG__SITE__PROTOCOL=http

# Настройки Базы Данных
APP_CONFIG__DB__USER=user
APP_CONFIG__DB__PASSWORD=pwd
APP_CONFIG__DB__HOST=localhost
APP_CONFIG__DB__PORT=5432
APP_CONFIG__DB__NAME=db_micro_shop
APP_CONFIG__DB__SQLA__ECHO=True

# Данные Админа и секретный ключ
APP_CONFIG__ADMIN__ADMIN_EMAIL=admin@example.com
APP_CONFIG__ADMIN__ADMIN_PASSWORD=password
APP_CONFIG__ADMIN__ADMIN_SECRET_KEY=SECRET

# Остальные настройки
APP_CONFIG__GUNICORN__WORKERS=4
APP_CONFIG__CACHE__ENABLED=False