/* Формы, инпуты, ссылки и лейблы */

.link {
    position: relative;
    display: inline-flex;
    color: var(--dark-color);
    cursor: pointer;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: color 0.2s ease;

    &:hover {
        text-decoration: underline;
    }

    & .spinner {
        border: 2px solid transparent;
        border-top: 1px solid var(--dark-color);
        border-right: 2px solid var(--dark-color);
    }

    &.htmx-request {
        color: transparent !important;
        transition-delay: 0.2s;
        pointer-events: none;

        & .spinner {
            visibility: visible;
            opacity: 1;
            transition-delay: 0.2s;
        }
    }
}
